{{- if and .Values.autoscaling.quartz (or .Values.autoscaling.quartz.targetQueueLength .Values.autoscaling.quartz.targetJobsPerPod) (ne (default "hpa" .Values.autoscaling.type) "keda") }}
apiVersion: datadoghq.com/v1alpha1
kind: DatadogMetric
metadata:
  name: {{ printf "%s-quartz-queue" .Release.Name }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kubernetes-service.labels" . | nindent 4 }}
spec:
  query: {{ printf "max:quartz.queue{env:%s, service:%s}.rollup(60)" .Release.Namespace .Release.Name }}
  {{- if .Values.autoscaling.quartz.maxAge }}
  maxAge: {{ .Values.autoscaling.quartz.maxAge }}
  {{- end }}
{{- end }}
{{- range $index, $queue := .Values.autoscaling.sqs }}
{{- if and $queue.queueName $queue.targetQueueLength (ne (default "hpa" $.Values.autoscaling.type) "keda") }}
---
apiVersion: datadoghq.com/v1alpha1
kind: DatadogMetric
metadata:
  name: {{ printf "%s-sqs-queue-%d" $.Release.Name $index }}
  namespace: {{ $.Release.Namespace }}
  labels:
    {{- include "kubernetes-service.labels" $ | nindent 4 }}
spec:
  query: {{ printf "max:aws.sqs.approximate_number_of_messages_visible{queuename:%s}.rollup(60)" $queue.queueName }}
  {{- if $queue.maxAge }}
  maxAge: {{ $queue.maxAge }}
  {{- end }}
{{- end }}
{{- end }}
